<h2>able Waiters</h2>
<form class="" action="/days" method="post">
<div class="card-group">

  <div class="card">
    <div class="card-block">
      <!-- <a href="/days"> -->
        <input type="Submit" name="btnWaiter" value="Sunday" class="btn btn-primary btn-block">
      <!-- </form> -->

      <!-- </a> -->
      <table class="table table-striped table-inverse table-responsive">
        <thead>

        </thead>
        <tbody>
          {{#each sunWaiters}}
          <tr>
            <td class="text-center">{{name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <!-- <form class="" action="/days" method="post"> -->

      <input type="Submit" name="btnWaiter" value="Monday" class="btn btn-primary btn-block">
<table class="table table-striped table-inverse table-responsive">
  <thead>

  </thead>
  <tbody>
    {{#each monWaiters}}
    <tr>
      <td class="text-center">{{name}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <input type="Submit" name="btnWaiter" value="Tuesday" class="btn btn-primary btn-block">
      <table class="table table-striped table-inverse table-responsive">
        <thead>

        </thead>
        <tbody>
          {{#each tuesWaiters}}
          <tr>
            <td class="text-center">{{name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <input type="Submit" name="btnWaiter" value="Wednesday" class="btn btn-primary btn-block">
      <table class="table table-striped table-inverse table-responsive">
        <thead>

        </thead>
        <tbody>
          {{#each wedWaiters}}
          <tr>
            <td class="text-center">{{name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <input type="Submit" name="btnWaiter" value="Thursday" class="btn btn-primary btn-block">
      <table class="table table-striped table-inverse table-responsive">
        <thead>

        </thead>
        <tbody>
          {{#each thursWaiters}}
          <tr>
            <td class="text-center">{{name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
     </div>
  </div>

  <div class="card">
    <div class="card-block">
      <input type="Submit" name="btnWaiter" value="Friday" class="btn btn-primary btn-block">
      <table class="table table-striped table-inverse table-responsive">
        <thead>

        </thead>
        <tbody>
          {{#each frWaiters}}
          <tr>
            <td class="text-center">{{name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
     </div>
  </div>

  <div class="card">
    <div class="card-block">
      <input type="Submit" name="btnWaiter" value="Saturday" class="btn btn-primary btn-block">
      <table class="table table-striped table-inverse table-responsive">
        <thead>

        </thead>
        <tbody>
          {{#each satWaiters}}
          <tr>
            <td class="text-center">{{name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>

</div>
</form>
